* {
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background: url(img/BG.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}

main{
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: column;
  background: rgb(212, 212, 212);
  width: 400px;
  height: 600px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  box-shadow: 0 0 10px black;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  font: bold 1.5rem;
  border-bottom: solid 2px #013354;
  margin-bottom: 20px;
}

.input {
  display: flex;
  width: 300px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}
.input input {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border:none;
  outline: 0;
  font: bold 1.5rem;
  text-align: center;
}

.input label {
  text-transform: uppercase;
  font: bold 1.5rem ;
}

button{
  width: 300px;
  height: 40px;
  text-transform: uppercase;
  font: bold 1.2rem;
  background: #013354;
  color: rgb(255, 255, 255);
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.result{
  display: flex;
  margin-top: 20px;
  align-items: center;
  width: 300px;
  height: 150px;
  border-radius: 5px;
  font: italic 1.5rem;
  box-shadow: 0px 0px 10px black;
  background: #013354;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  user-select: none;
}

span{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}